@{
    Layout = "~/Views/Shared/Processos/Configuracoes/_LayoutProcessosConfiguracoes.cshtml";
    ViewBag.Title = "Configuracoes";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><b>@ViewBag.dadosProcesso.Nome - Configurações</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="table-responsive">
                    <div>
                        Nesta página o usuário pode alterar detalhes da convocação como seus atributos, cargos, candidatos e documentação.
                    </div>
                </div>
                <div class="table-responsive">
                    <div>
                        <br><br>
                    </div>
                </div>
                <div class="table-responsive">
                    <div>
                        <button type="button" class="btn btn-secondary" title="" data-placement="left" onclick="history.back();">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>