@{
    ViewBag.Title = "Painel";
}
@{
    Layout = "~/Views/Shared/Processos/LayoutProcessosPainel.cshtml";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><b>@ViewBag.dadosProcesso.Nome</b> </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

