<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Content("~/Cliente/Index/")"><i class="fa fa-edit fa-fw" aria-hidden="true"></i> Cadastro e Gerenciamento de Clientes.</a>
                <a href="@Url.Content("~/UserAdmin/Index/")"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Cadastro e Gerenciamento de Usuários.</a>
            </li>
        </ul>
    </div>
</div>