@{
    ViewBag.Title = "Esqueceu sua senha?";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <h2>O e-mail informado não existe em nosso sistema.</h2>
    </p>
</div>
<div>
    @Html.ActionLink("Voltar", "ForgotPassword")
</div>